# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [9]:
import pandas as pd
gd = pd.Series([4,8,15,16,23,42])
gd

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [10]:
list1 = [1,2,3,4,5,6,7,8,9,10]
gd2 = pd.Series(list1)
gd2

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Q3. Create a Pandas DataFrame that contains the following data:

# Then, print the DataFrame.

In [12]:
data = {'Name':['Alice','Bob','Claire'],
       'Age':[25,30,27],
       'Gender':['Female','Male','Female']}
gd3 = pd.DataFrame(data)
gd3

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

#  Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

ans - in pandas, a DataFrame is a two-dimensional labeled data structure that represents a tabular or spreadsheet-like data structure. It is composed of rows and columns, where each column can have a different data type. Think of a DataFrame as similar to a table in a relational database or a spreadsheet in Excel.

On the other hand, a pandas Series is a one-dimensional labeled array that can hold data of any type. It is similar to a column in a DataFrame, but it lacks the column name. A Series has a single column of data and an associated index to label the data points.

In [13]:
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)

ages = pd.Series([25, 30, 27], name='Age')

print("DataFrame:")
print(df)
print("\nSeries:")
print(ages)

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Series:
0    25
1    30
2    27
Name: Age, dtype: int64

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

1. head() and tail(): View the first or last few rows of the DataFrame.
2. info(): Get summary information about the DataFrame.
3. describe(): Generate descriptive statistics of the numerical columns.
4. sort_values(): Sort the DataFrame based on one or more columns.
5. groupby(): Group the data based on one or more columns and perform aggregate operations.
6. fillna(): Fill missing values in the DataFrame with a specified value or method.

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

ans - In pandas, both Series and DataFrame are mutable

# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [15]:
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

df7 = pd.DataFrame({'Name': name_series, 'Age': age_series, 'Gender': gender_series})

df7

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female