In [ ]:
# Q1. Create one variable containing following type of data:

In [30]:
# (i)string
a = "pw skills"
type(a)

str

In [31]:
# (ii)list
l1 = [1,2,3,4,5]
type(l1)

list

In [32]:
# (iii)float
b = 27.5
type(b)

float

In [33]:
# (iv)tuple
t1 = (1,2,3,4,5)
type(t1)

tuple

In [34]:
# Q2. Given are some following variables containing data:

In [35]:
# (i) var1 = ‘ ‘ 
var1 = ' '
type(var1) #returns type or var1 that is string

str

In [36]:
# (ii) var2 = ‘[ DS , ML , Python]’
 var2 = '[ds,ml,python]'
 type(var2)
#returns error becoz it the string containing list doesnt have the defined data in it

IndentationError: unexpected indent (619071050.py, line 2)

In [37]:
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ 
var3 =['ds','ml','python']
type(var3)
#data type of this var3 is list

list

In [38]:
# (iv) var4 = 1.
var4 = 1.
type(var4)
# data type of var4 is float

float

In [39]:
# Q3. Explain the use of the following operators using an example:

In [40]:
a =10
b =2

In [41]:
# / operator use for division
c=a/b
c

5.0

In [42]:
# % operator use for finding the remainder of the question
c =a%b
c

0

In [43]:
#// operator used to get the interger value neglecting the floating no or can say the decimals no
c =a//b
c

5

In [44]:
# ** operator used for finding the exponent of the  given no
c = a**b
c

100

In [45]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.

In [46]:
list1 = [ 1, 2, 'sam', 'pwskills', 3.55, [1,2,3,4,5], 'hello', 9.10, 4 , 5]

In [47]:
for i in list1:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
sam <class 'str'>
pwskills <class 'str'>
3.55 <class 'float'>
[1, 2, 3, 4, 5] <class 'list'>
hello <class 'str'>
9.1 <class 'float'>
4 <class 'int'>
5 <class 'int'>

In [48]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.

In [49]:
a =27
b=3
count=0

In [50]:
while a%b==0:
    count+=1
    a=a/b
print(count)
# here count show the no of times a can be divided by b

3

In [51]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.

In [52]:
list2 =[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [53]:
for i in list2:
    if i%3==0:
        print(i ," is divisible by 3")
    
    else:
        print(i , "is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3  is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6  is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9  is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12  is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15  is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18  is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21  is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24  is divisible by 3
25 is not divisible by 3

In [54]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.

In [55]:
''' mutable data types are those data types which can be edited or can say whic data types can be change at any point 
and immutable data types are those data types which cannot be changed after its inistialisation
for ex-->  string is and immutable data type  and list is an mutable data type'''

' mutable data types are those data types which can be edited or can say whic data types can be change at any point \nand immutable data types are those data types which cannot be changed after its inistialisation\nfor ex-->  string is and immutable data type  and list is an mutable data type'

In [56]:
a=[ 1,2,3,4]
type(a)

list

In [57]:
a[1]='hello'
a

[1, 'hello', 3, 4]

In [58]:
b='string'

In [59]:
b[1]

't'

In [60]:
b[1]='m'
#error pops out as string does not support item assignment

TypeError: 'str' object does not support item assignment