#Q1)What is a database? Differentiate between SQL and NoSQL databases.

ans - database is a collection of data or can say structured collection of data that is organized and stored for efficient retrival and manipulation.It serves as a centralized repository for storing and managing various types of data, such as text, numbers, images, and more.  

sql is structured query language where data is arranged in the tables like collection consisting of rows and column in it 
data under the sql is stored in a well structured formate

whereas,
  no sql as name dipicts does not purely reli on the sql ,it is basically used to handle the unstructured data or semi strucutured data . No-Sql is mainly used for that type of data whose structure changes rapidly

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

ans -- DDL stands for data defination language it is the subset of sql and are mainly used for altering the database objects like creating , modfying or deleting the tables , indexes etc..

CREATE- is mainly used to create a new database objects such as table ,indexes etc
 for ex :-
    
     CREATE TABLE student(
        student_id INT,
        name VarChar(20),
        roll_no INT
        );
        
        
DROP - is mainly used to delete the pre defined database objects such as tables indxex etc.

for ex:-  

     DROP TABLE students;


ALTER - this is used to do  some changes or modifictaion in the existing database objects .
  for ex:-
          
          ALTER TABLE student;
          ADD fathers_name VARCHAR(20);

TRUNCATE - it is the feature that is mainly used to delete the data in all the rows of tha table without harming the structure of the table 
  for ex:-
        
        TRUNCATE TABLE student;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

ans - DML stand for data maipulation language it is a subset of sql which is basically used to modify ,insert ,upadte or delete the data from the existing database tables 

INSERT:-
       this is mainly used to insert the data in the table 
       for ex:-
             
             INSERT INTO students(student_roll_no,name,age)
             VALUES(1,piyush ,20);
             
             
UPDATE :-
        this is mainly used to do changes in the table 
        
        for ex :-
             UPADTE students
             SET age =19
             WHERE student_roll_no = 1;
             
DELETE :- 
        this is used to delete the data from the table
        
        for ex:-
                   DELETE FROM student
                   WHERE studnet_roll_no = 1;

Q4. What is DQL? Explain SELECT with an example.

ans - DQl stands for data query language it is also the subset of sql which is used to manipulate the data or can say is used to retrive the data with the help of SELECT fucntion or keyword


     SELECT -  it is the keyword used to retrive the data from the database objects such as tables, indexes etc
         
         for ex:-
         SELECT student
         FROM students
         WHERE age>18;

Q5. Explain Primary Key and Foreign Key.

ans  :-
      primary key in a table is that values or column which is unique for each entity through which a particular row can be       classified 
     
     whereas:-
        
      foreign key is the primary key of another table which is used to create the relation between the tables

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

# ans - 



       import mysql.connector
       mydb = mysql.connector.connect(
       host = "localhost",
       user = "abc",
       password = "password")

       print(mydb)
       mycursor = mydb.cursor()
       mycursor.execute("SHOW DATABASE")
       for x in mycursor:
          print(x)

       mydb.close()

cursor() is used to point the database objects into the database
whereas 

 execute() method is used to exectues the command lines of the programm in the sql

Q7. Give the order of execution of SQL clauses in an SQL query.

            ans -- SELECT
                   FROM 
                   JOIN
                   WHERE
                   GROUP BY
                   HAVING
                   ORDER BY
                   LIMIT/OFFSET