Q1. How do you comment code in Python? What are the different types of comments?

ans- Comment are the not executable code or data that is ignored by the compiler during the execution .
    There are two type of comments in python 
    1.single line comment
    2.multi line comment
  
  sigle line comment can be used with the '# ' sign at the start 
  multi lne comment can be used with the '''comment '''   or """ comment """  this signs at the start and end or the code

Q2. What are variables in Python? How do you declare and assign values to variables?

ans - In python variables are used to store the data  or can say they are the placeholders to store different types of data like string ,list ,numbers.
As in python variable declaration and value assigning is very easy and straightforword ,python is an intelligent language which itself detetcts the data type of the variable we dont have to declare the datatype of the variable during declation


 for ex   -- - - - --

In [1]:
a=10
b='string'

In [3]:
type(a)

int

In [4]:
type(b)

str

Q3. How do you convert one data type to another in Python?

ans--  there are basically two methods for converting one data type to another in pyhton 

       1. implicit
       2.explicit
       
    implicit means the datatype is changed by python itself
    
    explicit means that the programmer changes the data type by using some operations or techniques
    
    
  for ex-----

In [8]:
a = 10
b=5
type(a)

int

In [6]:
a=a/b

In [7]:
type(a)# implicit

float

In [9]:
my_list = [1, 2, 3, 4]
my_tuple = tuple(my_list)

In [10]:
type(my_tuple)  #explicit

tuple

Q4. How do you write and execute a Python script from the command line?

ans-- we can write the code in notebook and save that file with .py extension and then we have to open cmd (command )prompt and then just we have to direct the cmd prompt to the loction where our .py file is stored and write python and the name of the file 
with .py extension

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [11]:
my_list = [1, 2, 3, 4, 5]

In [12]:
my_list[1:3]

[2, 3]

In [13]:
a=my_list[1:3]

In [14]:
a

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

complex no in mathematcis is the combination of real and imaginary data or number 
basically it is represented as 2+10i or somthing like that only but in python we dont use i we use j insted

for ex---

In [15]:
a = 10+10j

In [16]:
type(a)

complex

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [17]:
age = 25
age

25

this is the correct way of doing such thing

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [18]:
price =9.99
price

9.99

In [19]:
type(price)

float

data type of the variable is  float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [20]:
name = 'shashank'

In [21]:
type(name)

str

In [22]:
print(name)

shashank

Q10. Given the string "Hello, World!", extract the substring "World".

In [23]:
str = "hello world"

In [24]:
str

'hello world'

In [25]:
str[6:]

'world'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [26]:
is_student = True

In [27]:
type(is_student)

bool