Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [30]:
l1 = [('Sachin Tendulkar',34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [31]:
l1.sort(key=lambda x:x[1])

In [32]:
print(l1)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [56]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
func=lambda x:x**2

In [58]:
a = map(func,l1)

In [59]:
for i in a:
    print(i,end='  ')

1  4  9  16  25  36  49  64  81  100

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [79]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [80]:
 a = lambda x:str(x)

In [83]:
b = tuple(map(a,l1))
b

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [95]:
list=[*(range(25))]

In [96]:
from functools import reduce

In [97]:
a=reduce(lambda x,y:x+y,list)

In [98]:
a

300

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [116]:
l1 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [117]:
func = lambda x:  x%2==0 and x%3==0

In [118]:
a = filter(func,l1)

In [119]:
for i in a:
    print(i)

6
60
90
120

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [134]:
a = ['python', 'php', 'aba', 'radar', 'level']

In [138]:
b = lambda x: x==x[::-1]

In [139]:
c =filter(b,a)

In [140]:
for i in c:
    print(i)

php
aba
radar
level